.results {
  display: flex;
  margin-top: 83px;
  flex-wrap: wrap;
  gap: 20px;

  &__container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 250px;
  }

  &__image1 {
    height: 310px;
    padding-bottom: 18px;

    img {
      height: 100%;
    }
  }


  &__title {
    @include fontTTNeoris30;

    &--offset {
      padding-left: 26px;
    }
  }

  &__image2 {
    padding-top: 42px;
  }
}
