<div id="popup-reviews" class="popup-overlay">
  <div class="popup-reviews">
    <span class="popup-reviews__close" onclick="closeModal('#popup-reviews')">
    </span>
    <div class="popup-reviews__content">
      <div class="popup-reviews__img">
        <img class="popup-reviews__img-person" src="./assets/images/photo-reviews.svg" alt="">
      </div>
      <div class="popup-reviews__title-person">ANikolaev</div>
    </div>
    <div class="scrollable-content">
      <div class="popup-reviews__description-person"></div>
    </div>
  </div>
</div>
