<div id="popup-reviews" class="popup-overlay" cla>
  <div class="popup-reviews">
    <span class="popup-reviews__close" onclick="closeModal('#popup-reviews')">
    </span>
    <div class="popup-reviews__content">
      <div class="popup-reviews__img">
        <img class="popup-reviews__img-person" src="./assets/images/photo-reviews.svg" alt="">
      </div>
      <div class="popup-reviews__title-person">ANikolaev</div>
    </div>
    <div class="popup-reviews__description-person">Благодаря вступлению в фонд AmigosBacking , моя покерная карьера взлетела
      на новый уровень. Это не просто финансовая поддержка, это настоящее покерное сообщество, где я нашел друзей и
      наставников.
      Спасибо за возможность расти и достигать новых высот в игре. Благодаря вступлению в фонд AmigosBacking , моя
      покерная карьера взлетела на новый уровень.
    </div>
  </div>
</div>
