<div id="popup-personal" class="popup-overlay">
  <div class="popup-personal">
    <div class="popup-personal__top-title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</div>
    <span class="popup-personal__close">
    </span>
    <div class="scrollable-content">
      <div class="popup-personal__content">
      </div>
      <div class="popup-personal__description">Настоящее соглашение на обработку персональных данных составлено в
        соответствии с Федеральным законом РФ № 152 «О персональных данных».
        <br>Посетители сайта при размещении (вводе) своих персональных данных на интернет-сайте amigosbacking.com дают
        согласие на обработку своих персональных данных, указанных в форме на данном сайте, и подтверждают, что дают
        такое согласие, действуя в своих личных интересах.
        <br>Под персональными данными понимаются следующие сведения: общая информация о посетителях (имя, контактный
        телефон и адрес электронной почты).
        <br>Посетители сайта направляют свои персональные данные для получения бесплатной информации об услугах и дают
        своё согласие на получение информации рекламного характера об услугах, предоставляемых сайтом amigosbacking.com.
        <br>Обработка персональных данных включает в себя следующие действия: сбор, систематизация, накопление,
        хранение, уточнение (обновление, изменение), использование, уничтожение и передачу третьим лицам с целью
        эффективного выполнения заказа.
        <br>
        <ul>
          <li>Граждане гарантируют, что информация является полной, точной и достоверной;</li>
          <li>При предоставлении информации не нарушается действующее законодательство Российской Федерации, законные
            права и интересы третьих лиц; </li>
          <li>Вся предоставленная информация заполнена в отношении себя лично.</li>
        </ul>
        Отзыв согласия на обработку персональных данных может быть осуществлен путём направления гражданином
        соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail): <a
          href="mailto:amigosbacking@gmail.com">amigosbacking@gmail.com</a>
      </div>
    </div>
  </div>
</div>
