.requirements-and-suggestions-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 46px;
  }

  &--small-offset {
    &:not(:last-child) {
      margin-bottom: 16px;

      @include mobile {
        margin-bottom: 28px;
      }
    }
  }

  &__icon {
    margin-right: 36px;

    @include mobile {
      margin-right: 32px;
    }
  }
}
