.quote {
  $self: &;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include mobile {
    flex-direction: column-reverse;
    gap: 25px;
  }

  &__image {
    margin-right: 35px;
    opacity: 0;
    transform: translateY(50px);

    @keyframes quoteImageAnimation {
      0% {
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    img {
      display: block;
    }
  }

  &__block {
    padding: 38px 68px 28px 72px;
    border-radius: 86px 86px 86px 0;
    border: 2px solid $deepBlack;
    background-color: $coralOrange;
    margin-top: 15px;
    max-width: 500px;
    transform: rotate(45deg);
    transform-origin: bottom left;
    opacity: 0;

    @keyframes quoteBlockAnimation {
      0% {
        opacity: 0;
      }

      80% {
        transform: rotate(-10deg);
        opacity: 0.8;
      }

      100% {
        transform: rotate(0);
        opacity: 1;
      }
    }

    @include mobile {
      max-width: 100%;
      margin-top: 0;
      padding: 20px 20px 9px 30px;
    }
  }

  &__name {
    @include fontTTNeoris16;

    margin-top: 15px;

    @include mobile {
      margin-top: 5px;
    }
  }

  &.active {
    #{$self}__image {
      animation: quoteImageAnimation 500ms forwards;
    }

    #{$self}__block {
      animation: quoteBlockAnimation 500ms forwards;
    }
  }
}
