<div class="quote content" data-quotes='[
  {
    "text": "Привет1",
    "name": "Петр 1",
    "image": "./assets/images/cactus-quote.svg"
  },
  {
    "text": "Привет2 Привет2 Привет2 Привет2 Привет2 Привет2",
    "name": "Петр 2",
    "image": "./assets/images/kirill.png"
  },
  {
    "text": "Привет3",
    "name": "Петр 3",
    "image": "./assets/images/artem.png"
  }
]'>
  <div class="quote__image">
    <img src="./assets/images/cactus-quote.svg" alt="">
  </div>
  <div class="quote__block">
    <div class="quote__wrapper">
      <div class="quote__text">
      </div>
      <div class="quote__name">
      </div>
    </div>
  </div>
</div>
