.quote {
  $self: &;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include mobile {
    flex-direction: column-reverse;
    gap: 25px;
  }

  &__image {
    width: 230px;
    height: 230px;
    margin-right: 35px;
    opacity: 0;
    transform: translateY(50px);

    @include mobile {
      width: auto;
      height: auto;
    }

    @keyframes quoteImageUpAnimation {
      0% {
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes quoteImageDownAnimation {
      0% {
        opacity: 1;
        transform: translateY(0);
      }

      100% {
        transform: translateY(-50px);
        opacity: 0;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__wrapper {
    opacity: 0;
    transition: opacity 800ms 700ms;
  }

  &__block {
    padding: 38px 68px 28px 72px;
    border-radius: 86px 86px 86px 0;
    border: 2px solid $deepBlack;
    background-color: $coralOrange;
    margin-top: 15px;
    max-width: 500px;
    min-height: 170px;
    width: 100%;
    transform: rotate(35deg) scale(0.5);
    transform-origin: bottom left;
    opacity: 0;

    @keyframes quoteBlockUpAnimation {
      0% {
        opacity: 0;
        transform: rotate(25deg) scale(0.5);
      }

      80% {
        transform: rotate(-5deg) scale(1.05);
        opacity: 0.8;
      }

      100% {
        transform: rotate(0) scale(1);
        opacity: 1;
      }
    }

    @keyframes quoteBlockDownAnimation {
      0% {
        transform: rotate(0) scale(1);
        opacity: 1;
      }

      20% {
        transform: rotate(10deg) scale(1.05);
        opacity: 0.8;
      }

      100% {
        opacity: 0;
        transform: rotate(-25deg) scale(0.5);
      }
    }

    @include mobile {
      max-width: 100%;
      margin-top: 0;
      padding: 20px 20px 9px 30px;
      border-radius: 59px 59px 59px 0;
      min-height: 120px;
    }
  }

  &__name {
    @include fontTTNeoris16;

    margin-top: 15px;

    @include mobile {
      margin-top: 5px;
    }
  }

  &.active {
    #{$self}__image {
      animation: quoteImageUpAnimation 800ms forwards;
    }

    #{$self}__block {
      animation: quoteBlockUpAnimation 800ms forwards;
    }

    #{$self}__wrapper {
      opacity: 1;
    }
  }

  &.disable {
    #{$self}__image {
      animation: quoteImageDownAnimation 800ms forwards;
    }

    #{$self}__block {
      animation: quoteBlockDownAnimation 800ms forwards;
    }

    #{$self}__wrapper {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}
