.privilege {
  display: flex;
  margin-top: 130px;
  flex-wrap: wrap;
  gap: 23px;

  @include mobile {
    flex-direction: column;
    margin-top: 80px;
  }

  &__title {
    @include fontTTNeoris30;

    @include mobile {
      @include fontTTNeoris25;
    }
  }

  &__containers {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: $paleGreen;
    top: 0;
    left: 0;
    flex: 1 0 362px;
    width: 100%;
    border-radius: 25px;
    padding: 20px 44px 13px 33px;

    @include mobile {
      max-width: 100%;
      padding: 14px 24px 21px;
    }

    &:nth-child(1) {
      background-image: url('./assets/images/pattern-workout.svg');
      background-position: top right;
      background-repeat: no-repeat;
    }

    &:nth-child(2) {
      background-image: url('./assets/images/pattern-connection.svg');
      background-position: top;
      background-repeat: no-repeat;

      @include mobile {
        background-image: url('./assets/images/pattern-workout.svg');
        background-position: top right;
      }
    }

    &:nth-child(3) {
      background-image: url('./assets/images/pattern-fast.svg');
      background-position: top left;
      background-repeat: no-repeat;

      @include mobile {
        background-image: url('./assets/images/pattern-workout.svg');
        background-position: top right;
      }
    }
  }

  &__headline {
    @include fontTTNeoris30;

    margin: 17px 0 6px;

    @include mobile {
      @include fontTTNeoris25;

      margin: 21px 0 11px;
    }
  }
}
