<div class="privilege content">
  <div class="privilege__title">Преимущества</div>
  <div class="privilege__contauners">
    <div class="privilege__item">
      <div class="privilege__img">
        <img src="./assets/images/cactus-workout.svg" alt="">
      </div>
      <div class="privilege__headline">Тренировки <br>с основателями</div>
      <div class="privilege__description">ученики лицея с первого по третий ранги проходят обучение не только
        под руководством назначенных тренеров, но и от основателей Кирилла «Marusia1980» и Константина «mosk0s» в
        специальных группах по 8 человек</div>
    </div>
    <div class="privilege__item">
      <div class="privilege__img">
        <img src="./assets/images/cactus-connection.svg" alt="">
      </div>
      <div class="privilege__headline">Всегда <br>на связи!</div>
      <div class="privilege__description">особое внимание со стороны основателей и административного состава к каждому из учеников  лицея, чтобы каждый чувствовал себя максимально комфортно</div>
    </div>
    <div class="privilege__item">
      <div class="privilege__img">
        <img src="./assets/images/cactus-fast.svg" alt="">
      </div>
      <div class="privilege__headline">Быстрый подъём по лимитам</div>
      <div class="privilege__description">благодаря гибкой системе повышений по рангам, вы сможете быстро подняться по лимитам</div>
    </div>
  </div>
</div>
