@@if (type === 'default') {
  <a
    href="@@link"
    class="button @@addClass"
  >
    @@text
  </a>
}

@@if (type === 'youtube') {
  <div class="button-yt @@addClass">
    <a
      href="@@ytLink"
      class="button-yt__icon">
    </a>
    <a
      href="@@textLink"
      class="button-yt__text"
    >
      @@text
    </a>
  </div>
}


@@if (type === 'shark') {
<a
  onclick="openModal('#popup-shark')"
  class="button @@addClass"
>
  @@text
</a>
}

@@if (type === 'shark-big') {
<div class="button-yt @@addClass">
  <a
    href="@@ytLink"
    class="button-yt__icon">
  </a>
  <a
    onclick="openModal('#popup-shark')"
    class="button-yt__text"
  >
    @@text
  </a>
</div>
}
