.header-pin {
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  border: 2px solid $deepBlack;
  border-radius: 40px;
  background-color: $skyBlue;

  &__container {
    display: flex;
    align-items: center;
    padding: 6px 0 9px;
    max-width: 1140px;
    margin: 0 auto;
  }

  &__menu {
    @include fontUbuntu14;

    display: flex;
    gap: 38px;
    list-style: none;
    margin-left: 68px;
    margin-right: auto;

    &-link {
      text-decoration: none;
      color: $deepBlack;

      &:hover {
        border-bottom: 2px solid $lightBeige;
      }
    }
  }
}
