<div class="form">
  <form
    name="callbackForm"
    id="callbackForm"
    class="form__wrapper content"
  >
    <div class="form__fields">
      @@include('input/component.html', {
        placeholder: 'Твое имя',
        name: 'name'
      })
      @@include('input/component.html', {
        placeholder: 'Gipsyteam',
        name: 'gipsyteam'
      })
      @@include('input/component.html', {
        placeholder: 'Страна проживания',
        name: 'country'
      })
      @@include('input/component.html', {
        placeholder: 'Сколько румов ты играешь',
        name: 'rooms'
      })
      @@include('input/component.html', {
        placeholder: 'Сколько тебе лет',
        name: 'age'
      })
      @@include('select/component.html', {
        placeholder: 'Трекер',
        name: 'tracker'
      })
      @@include('input/component.html', {
        placeholder: 'Discord',
        name: 'discord'
      })
      @@include('input/component.html', {
        placeholder: 'E-mail',
        name: 'email'
      })
      @@include('input/component.html', {
        placeholder: 'Никнейм в румах',
        name: 'nickname'
      })
      @@include('select/component.html', {
        placeholder: 'Какими программами умеешь пользоваться',
        name: 'programs'
      })
      @@include('input/component.html', {
        placeholder: 'Abi',
        name: 'abi'
      })
      @@include('input/component.html', {
        placeholder: 'Откуда узнал о нас',
        name: 'source'
      })
      @@include('input/component.html', {
        placeholder: 'Мессенджер для связи',
        name: 'messenger'
      })
      @@include('input/component.html', {
        placeholder: 'Был ли в каком-нибудь фонде',
        name: 'fund'
      })
      @@include('input/component.html', {
        placeholder: 'Расскажи о себе и о твоей карьере в покере',
        name: 'about'
      })
    </div>

    <button type="submit" class="button form__button">
      Отправить заявку
    </button>

    <div class="form__policy">
      Я согласен с условиями
      <div class="form__policy-link" onclick="openModal('#popup-policy')">политики конфиденциальности</div>
    </div>
  </form>
</div>
