.advantages {
  margin-top: 105px;

  @include mobile {
    margin-top: 80px;
  }

  &__title {
    @include fontTTNeoris30;

    @include mobile {
      @include fontTTNeoris25;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 28px;
    gap: 35px 60px;

    @include mobile {
      flex-direction: column;
      margin-top: 34px;
      gap: 48px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    min-width: 28%;
    flex: 1 0 28%;

    @include mobile {
      width: 100%;
    }
  }

  &__icon {
    padding-right: 20px;

    @include mobile {
      padding-right: 50px;
    }
  }
}
