<div class="advantages content">
  <h2 class="advantages__title">
    А также
  </h2>
  <div class="advantages__list">
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_1.svg" alt="">
      </div>
      <div class="advantages__text">
        подтянуть любой технический аспект своей игры, начиная от пуш-фолда и заканчивая игрой в хедз-ап, а также
        ментальную составляющую
      </div>
    </div>
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_2.svg" alt="">
      </div>
      <div class="advantages__text">
        использовать результаты инновационной работы исследовательского центра
      </div>
    </div>
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_3.svg" alt="">
      </div>
      <div class="advantages__text">
        все игроки ежедневно получают оптимальное расписание турниров
      </div>
    </div>
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_4.svg" alt="">
      </div>
      <div class="advantages__text">
        получить доступ к регулярным вебинарам внутрипроекта, открытым тренировкам от основателя проекта Кирилла
        «Marusia1980», а также от других тренеров
      </div>
    </div>
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_5.svg" alt="">
      </div>
      <div class="advantages__text">
        пользоваться обучающими видеоматериалами на портале разработанном для игроков
      </div>
    </div>
    <div class="advantages__list-item">
      <div class="advantages__icon">
        <img src="./assets/images/icon_6.svg" alt="">
      </div>
      <div class="advantages__text">
        тех. поддержка по любым вопросам связанным с вашей деятельностью (настройка румов, H2N и прочее)
      </div>
    </div>
  </div>
</div>
