.reviews {
  border-radius: 25px 25px 0;
  color: $deepBlack;
  margin: 0 40px;

  @include mobile {
    margin: 0;
  }

  &__title {
    @include fontTTNeoris30;

    display: flex;
    align-items: center;

    @include mobile {
      @include fontTTNeoris25;

      display: inline-block;
    }
  }

  &__name {
    text-decoration: underline;
  }

  &__logo {
    margin: 0 5px;

    @include mobile {
      width: 26px;
      height: 26px;
      padding: 0;
      vertical-align: middle;
    }
  }

  &__slider {
    position: relative;
    padding: 0 80px;
    margin-top: 60px;
    border-radius: 25px;

    @include mobile {
      padding: 0 30px;
    }

    .swiper {
      border-radius: 25px;
    }

    .swiper-wrapper {
      align-items: normal !important;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 62px;
      cursor: pointer;

      @include mobile {
        width: 19px;
        height: 38px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('./assets/images/arrow.svg');

        @include mobile {
          background-size: 19px 38px;
        }
      }

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;

        &::before {
          rotate: 180deg;
        }
      }
    }
  }
}
