<div class="reviews">
  <div class="reviews__wrapper content">
    <div class="reviews__title">
      Отзывы наших учеников на
      <img
        class="reviews__logo"
        src="./assets/images/gipsyteam.svg"
        alt="gipsyteam"
      >
      <span class="reviews__name">
        <a href="https://www.gipsyteam.ru/">gipsyteam</a>
      </span>
    </div>
    <div class="reviews__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          @@loop('reviews/item/component.html', [
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque enim eos exercitationem inventore laboriosam quod, similique suscipit. Accusantium ad aliquam atque aut dolore, ex fugit laboriosam minus placeat qui quo repudiandae tenetur, ut vitae voluptates? Consequatur ducimus, eum fuga ipsam iure magnam vero voluptate? Accusantium adipisci amet cupiditate dicta dolor dolores enim eos error exercitationem expedita facilis fuga inventore laborum molestiae, molestias nostrum omnis perspiciatis, provident saepe vero! Accusantium impedit necessitatibus nisi odit quisquam quod sed sequi sint totam unde? Accusamus asperiores consequuntur distinctio et eum ex officiis quae quia sit veritatis? Facere facilis illum non nulla, sint soluta suscipit.' },
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'В фонде нахожусь с начала существования. Ребята тут веселые, трени долгие и познавательные. Отношение к каждому игроку хорошее. Всем рекомендую!' },
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'В фонде нахожусь с начала существования. Ребята тут веселые, трени долгие и познавательные. Отношение к каждому игроку хорошее. Всем рекомендую!' },
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'В фонде нахожусь с начала существования. Ребята тут веселые, трени долгие и познавательные. Отношение к каждому игроку хорошее. Всем рекомендую!' },
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'В фонде нахожусь с начала существования. Ребята тут веселые, трени долгие и познавательные. Отношение к каждому игроку хорошее. Всем рекомендую!' },
            { photo: './assets/images/kirill.png', name: 'Askar1KK', text: 'В фонде нахожусь с начала существования. Ребята тут веселые, трени долгие и познавательные. Отношение к каждому игроку хорошее. Всем рекомендую!' },
          ])
        </div>
      </div>
      <div class="reviews__slider-arrow reviews__slider-arrow-prev"></div>
      <div class="reviews__slider-arrow reviews__slider-arrow-next"></div>
    </div>
  </div>
</div>
