<div class="videos">
  <div class="videos__wrapper content">
    <div class="videos__title">
      Смотрите разборы и тренировки <br>от наших экспертов на YouTube-канале
    </div>
    <div class="videos__inner">
      <div data-animate-bottom class="videos__item">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/videoseries?si=Q4_Vt7R1pA45aId0&amp;list=PLo7V2D78W2kL8YroLgnXEf7XDTijoixbG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="videos__item-title">Тренировка</div>
      </div>
      <div data-animate-bottom class="videos__item">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/videoseries?si=dOKMmS3MeMQKCa4f&amp;list=PLo7V2D78W2kKE0Rg6hXJn0f7JpttIrj0W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="videos__item-title">Разбор турнира</div>
      </div>
    </div>
  </div>
</div>
