<div class="founders">
  <div class="founders__wrapper content">
    <div class="founders__title">
      Основатели
    </div>
    <div class="founders__list">
      @@loop('card/component.html', [
        {
          photo: 'https://png.pngtree.com/png-clipart/20230511/ourmid/pngtree-isolated-cat-on-white-background-png-image_7094927.png',
          type: 'default',
          name: 'Кирилл «Marusia1980»',
          description: 'Главный тренер, стример и основатель Amigos Backing. За его плечами огромный тренерский опыт, который исчисляется сотнями часов тренировок Кирилл играет ABI 200+ с профитом более $600К.',
          linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
          button: true,
          buttonType: 'shark-big',
          buttonText: 'Смотреть шарк',
          ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
          addButtonClass: 'founders__button'
        },
        {
          photo: 'https://i.pinimg.com/originals/4e/09/37/4e09375f76be3c80001040dda7db13dc.png',
          type: 'default',
          name: 'Константин «mosk0s»',
          description: 'Тренер и основатель Amigos Backing. Он является интеллектуальной основой проекта - человеком, который может поделиться опытом в тренерской деятельности более 5 лет, который основан на множестве часов, проведенных над аналитикой, различными вычислениями и исследованиями стратегий игры.',
          linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
          button: true,
          buttonType: 'shark-big',
          buttonText: 'Смотреть шарк',
          ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
          textLink: 'https://www.youtube.com/watch?v=5qucy6og3o8',
          addButtonClass: 'founders__button'
        },
        {
          photo: 'https://www.freeiconspng.com/thumbs/cat-png/cat-png-26.png',
          type: 'default',
          name: 'Рауль «xRauIx»',
          description: "Инвестор и основатель Amigos Backing. В покере с 2008 года, прошел путь от самых низов до HIGH STAKES в Fixed Limit Texas Hold'em. Активно развивается в турнирах (МТТ) и выступает в роли инвестора, обеспечивая и следя за финансовой составляющей проекта.",
          linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
          button: false,
          addButtonClass: 'founders__button'
        }
      ])
    </div>
  </div>
</div>
