.founders {
  position: relative;
  background-color: $darkGray;
  padding-top: 97px;
  padding-bottom: 46px;
  overflow: hidden;

  @include mobile {
    padding-top: 75px;
    padding-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '';
    width: 533px;
    height: 568px;
    top: -420px;
    right: 0;
    background-image: url('./assets/images/pattern-founders.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;


  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    @include fontTTNeoris30;

    color: $lightBeige;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 39px;
    margin-top: 24px;

    @include mobile {
      margin-top: 37px;
      gap: 65px;
    }

    .card {
      flex: 1;
    }
  }

  &__button {
    margin-top: auto;
  }
}
