.card {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: $lightBeige;
  text-align: center;

  &__name {
    @include fontTTNeoris30;

    margin-top: 36px;
    white-space: nowrap;
    margin-bottom: 16px;

    @include mobile {
      @include fontTTNeoris25;

      margin-top: 25px;
      white-space: normal;
    }
  }

  &__description {
    max-width: 500px;
    margin-bottom: 18px;

    @include mobile {
      margin-top: 22px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  &--small {
    width: 230px;

    @include mobile {
      width: 142px;
    }

    #{$self}__name {
      @include fontTTNeoris16;

      @include mobile {
        @include fontTTNeoris13;
      }
    }

    #{$self}__description {
      margin-top: 6px;
    }

    &__link {
      margin-bottom: 17px;
    }
  }
}
