.callback {
  position: relative;
  height: 377px;
  margin-top: 95px;
  overflow: hidden;
  display: flex;

  @include mobile {
    height: auto;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    @include mobile {
      display: block;
    }
  }

  &__text {
    @include fontTTNeoris30;

    @include mobile {
      @include fontTTNeoris25;
    }
  }

  &__bubble {
    position: relative;
    top: 60px;
    padding: 30px 0 30px 80px;
    border-radius: 90px 90px 0 90px;
    background-color: $coralOrange;
    width: 100%;
    max-width: 850px;
    background-image: url('./assets/images/puttern-callback.svg');
    background-position: bottom right;
    background-repeat: no-repeat;

    @include mobile {
      padding: 27px 52px;
      top: 0;
    }
  }

  &__image {
    align-self: self-end;
    min-width: 418px;
    margin-right: -140px;
    margin-left: 50px;

    @include mobile {
      position: relative;
      max-width: 281px;
      width: 100%;
      margin-left: auto;
      margin-right: -70px;
      margin-top: 10px;
      min-width: auto;
    }

    img {
      width: 100%;
    }
  }

  &__button {
    margin-top: 20px;

    @include mobile {
      position: absolute;
      bottom: -62px;
      left: 0;
    }
  }
}
