<div class="callback">
  <div class="callback__wrapper content">
    <div class="callback__bubble">
      <div class="callback__text">
        Оставляй заявку <br>
        и присоединяйся к нашей команде!
      </div>
      @@include('button/component.html', {
        text: 'Подать заявку',
        type: 'default',
        link: 'callback.html',
        addClass: 'callback__button'
      })
    </div>
    <div class="callback__image">
      <img data-gif="./assets/images/cactus_3.gif" class="callback__image" src="" alt="">
    </div>
  </div>
</div>
