<div class="swiper-slide slider-item">
  <div class="slider-item__header">
    <div class="slider-item__photo">
      <img src="@@photo" alt="@@name">
    </div>
    <div class="slider-item__name">
      @@name
    </div>
  </div>

  <div class="slider-item__body">
    <div class="slider-item__text">
      @@text
    </div>
    <div class="slider-item__more" onclick="openReviewModal({
      name: '@@name',
      text: '@@text',
      photo: '@@photo'
    })">
      Показать полностью
    </div>
  </div>
</div>
