.staff {
  background-color: $darkGray;
  padding-top: 107px;
  color: $lightBeige;

  &__wrapper {

  }

  &__item {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 60px;

    @include mobile {
      margin-top: 28px;
      gap: 20px;
      justify-content: normal;

      .card {
        width: calc(50% - 10px);
      }
    }
  }

  &__title {
    @include fontTTNeoris30;

    width: 310px;
    margin-top: 15px;

    @include mobile {
      @include fontTTNeoris25;

      width: 100%;
    }
  }

  &__description {
    @include fontUbuntu14;

    margin-top: 14px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    padding: 0;
    height: 42px;

    @include mobile {
      padding: 8px 14px;
      height: 30px;
      width: 100%;
    }
  }
}
