<div class="staff">
  <div class="staff__wrapper content">
    <div class="staff__item">
      <div class="staff__title">
        Старшие тренеры
      </div>
      <div class="staff__list">
        @@loop('card/component.html', [
          {
            photo: 'https://png.pngtree.com/png-clipart/20230511/ourmid/pngtree-isolated-cat-on-white-background-png-image_7094927.png',
            type: 'small',
            name: 'Александр «C.J.SLASHer»',
            description: 'Тренер 1-5 ранг <br>Играет ABI 40 <br> Тренерует ABI 10/20 <br>Стаж: 2 года',
            linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
            button: true,
            buttonType: 'default',
            buttonText: 'Смотреть шарк',
            addButtonClass: 'staff__button',
            link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          },
          {
            photo: 'https://i.pinimg.com/originals/4e/09/37/4e09375f76be3c80001040dda7db13dc.png',
            type: 'small',
            name: 'Дмитрий «dima_rooney»',
            description: 'Тренер 4+ ранг <br>Играет ABI 100 <br>Тренирует ABI 30 <br>Стаж: 2 года',
            linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
            button: true,
            buttonType: 'youtube',
            buttonText: 'Смотреть шарк',
            ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
            textLink: 'https://www.youtube.com/watch?v=5qucy6og3o8'
          },
        ])
      </div>
    </div>
    <div class="staff__item">
      <div class="staff__title">
        Тренеры
      </div>
      <div class="staff__list">
        @@loop('card/component.html', [
        {
        photo: 'https://png.pngtree.com/png-clipart/20230511/ourmid/pngtree-isolated-cat-on-white-background-png-image_7094927.png',
        type: 'small',
        name: 'Александр «C.J.SLASHer»',
        description: 'Тренер 1-5 ранг <br>Играет ABI 40 <br> Тренерует ABI 10/20 <br>Стаж: 2 года',
        linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
        button: true,
        buttonType: 'default',
        buttonText: 'Смотреть шарк',
        addButtonClass: 'staff__button',
        link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        },
        {
        photo: 'https://i.pinimg.com/originals/4e/09/37/4e09375f76be3c80001040dda7db13dc.png',
        type: 'small',
        name: 'Дмитрий «dima_rooney»',
        description: 'Тренер 4+ ранг <br>Играет ABI 100 <br>Тренирует ABI 30 <br>Стаж: 2 года',
        linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
        button: true,
        buttonType: 'youtube',
        buttonText: 'Смотреть шарк',
        ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
        textLink: 'https://www.youtube.com/watch?v=5qucy6og3o8'
        },
        ])
      </div>
    </div>
    <div class="staff__item">
      <div class="staff__title">
        Профильные тренеры
      </div>
      <div class="staff__list">
        @@loop('card/component.html', [
        {
        photo: 'https://png.pngtree.com/png-clipart/20230511/ourmid/pngtree-isolated-cat-on-white-background-png-image_7094927.png',
        type: 'small',
        name: 'Александр «C.J.SLASHer»',
        description: 'Тренер 1-5 ранг <br>Играет ABI 40 <br> Тренерует ABI 10/20 <br>Стаж: 2 года',
        linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
        button: true,
        buttonType: 'default',
        buttonText: 'Смотреть шарк',
        addButtonClass: 'staff__button',
        link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        },
        {
        photo: 'https://i.pinimg.com/originals/4e/09/37/4e09375f76be3c80001040dda7db13dc.png',
        type: 'small',
        name: 'Дмитрий «dima_rooney»',
        description: 'Тренер 4+ ранг <br>Играет ABI 100 <br>Тренирует ABI 30 <br>Стаж: 2 года',
        linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
        button: true,
        buttonType: 'youtube',
        buttonText: 'Смотреть шарк',
        ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
        textLink: 'https://www.youtube.com/watch?v=5qucy6og3o8'
        },
        ])
      </div>
    </div>
    <div class="staff__item">
      <div class="staff__title">
        Стримеры
        <div class="staff__description">
          Онлайн-стрим по покеру на канале AmigosBacking — это отличная возможность научиться играть в турнирный покер и приятно провести время.
        </div>
      </div>
      <div class="staff__list">
        @@loop('card/component.html', [
          {
            photo: 'https://png.pngtree.com/png-clipart/20230511/ourmid/pngtree-isolated-cat-on-white-background-png-image_7094927.png',
            type: 'small-yellow',
            name: 'Александр «C.J.SLASHer»',
            description: 'Тренер 1-5 ранг <br>Играет ABI 40 <br> Тренерует ABI 10/20 <br>Стаж: 2 года',
            linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
            button: true,
            buttonType: 'default',
            buttonText: 'Смотреть шарк',
            addButtonClass: 'staff__button',
            link: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          },
          {
            photo: 'https://i.pinimg.com/originals/4e/09/37/4e09375f76be3c80001040dda7db13dc.png',
            type: 'small-yellow',
            name: 'Дмитрий «dima_rooney»',
            description: 'Тренер 4+ ранг <br>Играет ABI 100 <br>Тренирует ABI 30 <br>Стаж: 2 года',
            linkInterview: 'https://www.youtube.com/watch?v=JhigElj5Jto',
            button: true,
            buttonType: 'youtube',
            buttonText: 'Смотреть шарк',
            ytLink: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',
            textLink: 'https://www.youtube.com/watch?v=5qucy6og3o8'
          },
        ])
      </div>
    </div>
  </div>
</div>
