<div class="header">
  <div class="header__container">
    <a href="/" class="header__logo">
      <img src="./assets/images/logo.svg" alt="">
    </a>
    <ul class="header__menu">
      <li class="header__menu-item"><a href="#" class="header__menu-link">О нас</a></li>
      <li class="header__menu-item"><a href="#" class="header__menu-link">Преимущества</a></li>
      <li class="header__menu-item"><a href="#" class="header__menu-link">Условия</a></li>
      <li class="header__menu-item"><a href="#" class="header__menu-link">Команда</a></li>
      <li class="header__menu-item"><a href="#" class="header__menu-link">Контакты</a></li>
    </ul>
    @@include('button/component.html', {
    text: 'Подать заявку'
    })
  </div>
</div>
