<!-- <div class="results content">
  <div class="results__container1">
    <div class="results__image1">
      <img src="./assets/images/cactus-results.svg" alt="">
    </div>
    <h2 class="results__title">
      Присоединяйся к нам и подними свою игру на новый уровень
    </h2>
  </div>
  <div class="results__container2">
    <h2 class="results__title results__title--offset">
      Наши результаты
    </h2>
    <div class="results__image2">
      <img src="./assets/images/results.svg" alt="">
    </div>
  </div>
</div> -->

<div class="statistics content">
  <div class="statistics__conteiner">
    <div class="statistics_title">
      <p>
        AmigosBacking — лицей турнирного покера с профессиональным подходом к обучению, который строится на основе индивидуальных качеств игрока и современных тенденций в покере.

Уделяем внимание не только образовательной, но и ментальной стороне развития учеников, совершенствуем стратегическое мышление, умение анализировать ситуации и контролировать эмоции.

      </p>

    </div>

  </div>

</div>
