.statistics {
  margin-top: 44px;

  &__conteiner {
    display: flex;
    flex-wrap: wrap;
    background-color: $skyBlue;
    padding: 31px 35px 24px 33px;
    border-radius: 25px;
    gap: 25px;

    @include mobile {
      flex-direction: column-reverse;
      padding: 35px 25px;
      gap: 34px;
    }
  }

  &__title {
    flex: 1 0 300px;

    @include mobile {
      flex-basis: auto;
    }
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(310px, 1fr));
    gap: 18px 17px;
    flex: 1;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $lightBeige;
    border: 2px solid $deepBlack;
    border-radius: 40px;
    gap: 0 28px;
    padding: 16px 20px;
    max-height: 70px;

    @include mobile {
      justify-content: space-between;
      padding: 15px 20px;
      text-align: right;
    }
  }

  &__box-expanded {
    box-sizing: border-box;
    background-color: $lightBeige;
    border: 2px solid $deepBlack;
    border-radius: 40px;
    position: relative;
    padding: 16px 20px;

    @include mobile {
      padding: 15px 0;
    }

    &-item {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      height: 100%;
      max-width: calc(100% - 148px);
      gap: 3px;

      @include mobile {
        gap: 15px;
        padding-left: 22px;
      }

      &--top {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        right: -2px;
        top: -1px;
        border: 2px solid #141414;
        border-radius: 40px;
        height: calc(100% + 2px);
        padding: 10px 23px;
        gap: 8px;

        @include mobile {
          padding: 0 19px;
        }
      }
    }
  }

  &__box-value {
    @include fontTTNeoris30;

    @include mobile {
      @include fontTTNeoris25;
    }
  }
}
