<div class="statistics content">
  <div data-animate-left class="statistics__container">
    <p class="statistics__title">
      AmigosBacking — лицей турнирного покера с профессиональным подходом к обучению, который строится на основе
      индивидуальных качеств игрока и современных тенденций в покере.<br><br>
      Уделяем внимание не только образовательной, но и ментальной стороне развития учеников, совершенствуем
      стратегическое мышление, умение анализировать ситуации и контролировать эмоции.
    </p>
    <div class="statistics__boxes">
      <div class="statistics__box">
        <div class="statistics__box-value">
          16,9%
        </div>
        <div class="statistics__box-rating">
          Средний ROI команды
        </div>
      </div>
      <div class="statistics__box">
        <div class="statistics__box-value">
          80%
        </div>
        <div class="statistics__box-rating">
          Одобренных заявок на повышение
        </div>
      </div>
      <div class="statistics__box">
        <div class="statistics__box-value">
          34,9%
        </div>
        <div class="statistics__box-rating">
          Общий ROI команды
        </div>
      </div>
      <div class="statistics__box-expanded">
        <div class="statistics__box-expanded-item">
          <div class="statistics__box-value">
            65+
          </div>
          <div class="statistics__box-rating">
            участников
          </div>
        </div>
        <div class="statistics__box-expanded-item statistics__box-expanded-item--top">
          <div class="statistics__box-value">
            8
          </div>
          <div class="statistics__box-rating">
            тренеров
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
