@@if (type === 'small') {
  <div class="chip-photo chip-photo--small">
}

@@if (type === 'small-yellow') {
  <div class="chip-photo chip-photo--small chip-photo--small-yellow">
}

@@if (type === 'default') {
  <div class="chip-photo">
}
  <div class="chip-photo__border"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__section"></div>
  <div class="chip-photo__fill">
    <img src="@@photo" alt="">
  </div>
</div>
