<footer class="footer">
  <div class="footer__wrapper content">
    <div class="footer__logo">
      <img src="./assets/images/footer-logo.svg" alt="Logo">
    </div>
    <div class="footer__column">
      <div class="footer__title">
        Соц. сети
      </div>
      <div class="footer__text">
        Подписывайтесь на нас и следите за новостями!
      </div>
      <div class="footer__social">
        <a class="footer__social-item" href="/">
          <img src="./assets/images/telegram.svg" alt="telegram">
        </a>
        <a class="footer__social-item" href="/">
          <img src="./assets/images/youtube-social.svg" alt="telegram">
        </a>
        <a class="footer__social-item" href="/">
          <img src="./assets/images/twitch-social.svg" alt="telegram">
        </a>
        <a class="footer__social-item" href="/">
          <img src="./assets/images/gipsyteam-social.svg" alt="telegram">
        </a>
        <a class="footer__social-item" href="/">
          <img src="./assets/images/discord-social.svg" alt="telegram">
        </a>
        <a class="footer__social-item" href="/">
          <img src="./assets/images/instagram-social.svg" alt="telegram">
        </a>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer__title">
        Контакты
      </div>
      <div class="footer__text">
        По всем вопросам пишите нам,<br>
        мы с радостью ответим!
      </div>
      <div class="footer__contacts">
        <div class="footer__contact">
          <img src="./assets/images/telegram.svg" alt="telegram" class="footer__contact-icon">
          Андрей @SobolekAB
        </div>
        <div class="footer__contact">
          <img src="./assets/images/discord-social.svg" alt="discord" class="footer__contact-icon">
          polkiygruttandrei
        </div>
        <div class="footer__contact">
          <img src="./assets/images/email-social.svg" alt="email" class="footer__contact-icon">
          <a href="mailto:amigosbacking@gmail.com">
            amigosbacking@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
