.footer {
  $self: &;

  background-color: $lightBeige;
  padding: 45px 0;
  border: 1px solid $deepBlack;
  border-radius: 25px;

  @include mobile {
    padding: 30px 0 60px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile {
      flex-wrap: wrap;
      gap: 60px;
    }

    & > #{$self}__logo {
      @include mobile {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 301px;
    height: 305px;

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: 6s animationLogoText infinite;

      @keyframes animationLogoText {
        20% {
          transform: rotate(0deg);
        }

        50% {
          transform: rotate(60deg);
        }

        60% {
          transform: rotate(60deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__column {
    margin-left: 25px;

    @include mobile {
      margin-left: 0;
      flex: 1 0 300px;
    }
  }

  &__title {
    @include fontTTNeoris30;
  }

  &__text {
    margin-top: 27px;

    @include mobile {
      margin-top: 20px;
    }

    br {
      @include mobile {
        display: none;
      }
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    margin-top: 25px;

    @include mobile {
      margin-top: 20px;
    }
  }

  &__social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;

    img {
      object-fit: contain;
    }
  }

  &__contacts-wrapper {
    @include mobile {
      display: flex;
    }

    #{$self}__logo {
      display: none;

      @include mobile {
        display: flex;
        align-self: flex-end;
        min-width: 120px;
        max-width: 120px;
        height: 120px;
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: auto;
      }

      &-image {
        @include mobile {
          width: 73px;
          height: 85px;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    margin-top: 25px;

    @include mobile {
      gap: 30px 0;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 38px 0;
  }

  &__contact-icon {
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;

    @include mobile {
      margin-right: 16px;
    }

    img {
      object-fit: contain;
    }
  }
}
