<section class="requirements-and-suggestions container">
  <div class="requirements-and-suggestions__header"></div>
  <div class="requirements-and-suggestions__wrapper">
    <div class="requirements-and-suggestions__left">
      <div class="requirements-and-suggestions__left-inner">
        <div class="requirements-and-suggestions__quote">
          Мы ищем игроков, которые хотят стать настоящими профи в покере! Главное для нас – честность и преданность делу! Поэтому мы будем рады принять в лицей игроков, которые имеют хорошую репутацию в мире покера.
        </div>
      </div>
    </div>
    <div class="requirements-and-suggestions__right"></div>
  </div>
</section>
