.requirements-and-suggestions {
  $self: &;

  margin-top: 40px;
  z-index: 1;
  margin-bottom: -25px;

  br {
    @include mobile {
      display: none;
    }
  }

  &__header {
    @include fontTTNeoris30;

    display: flex;
    margin-bottom: 18px;

    @include mobile {
      @include fontTTNeoris25;
    }
  }

  &__title {
    &:nth-child(1) {
      width: calc(617px + 3px);
    }
    &:nth-child(2) {
      padding-left: 54px;

      @include mobile {
        @include fontTTNeoris25;

        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    background-color: $coralOrange;
    border: 2px solid $black;
    border-radius: 25px;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
    }

    #{$self}__title {
      @include fontTTNeoris25;

      display: none;
      margin-bottom: 25px;

      @include mobile {
        display: block;
        margin-left: -30px;
      }
    }
  }

  &__left {
    margin: -4px 0 -4px -3px;
    position: relative;

    @include mobile {
      margin: -4px -4px 0 -4px;
    }


    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 300%;
      background-color: $goldenYellow;
      right: 630px;
      z-index: 1;

      @include mobile {
        display: none;
      }
    }

    &-inner {
      padding: 31px 110px 42px 20px;
      display: flex;
      flex-direction: column;
      max-width: 635px;
      margin-left: auto;
      position: relative;
      height: 100%;
      clip-path: polygon(0.162% 0.16%, 80.876% 0.16%, 80.876% 0.16%, 81.378% 0.192%, 81.863% 0.285%, 82.327% 0.437%, 82.765% 0.643%, 83.173% 0.9%, 83.545% 1.204%, 83.878% 1.554%, 84.165% 1.944%, 84.403% 2.372%, 84.587% 2.833%, 99.609% 49.14%, 99.609% 49.14%, 99.676% 49.371%, 99.728% 49.606%, 99.765% 49.843%, 99.787% 50.081%, 99.794% 50.32%, 99.786% 50.559%, 99.763% 50.797%, 99.725% 51.033%, 99.672% 51.268%, 99.604% 51.499%, 84.594% 97.18%, 84.594% 97.18%, 84.409% 97.64%, 84.17% 98.066%, 83.883% 98.454%, 83.551% 98.801%, 83.179% 99.105%, 82.772% 99.36%, 82.335% 99.565%, 81.872% 99.715%, 81.388% 99.808%, 80.888% 99.84%, 0.162% 99.84%, 0.162% 0.16%);

      @include mobile {
        max-width: 100%;
        margin: 0 auto;
        padding: 30px 40px 100px;
        clip-path: polygon( 99.733% 2.774%,99.733% 82.513%,99.733% 82.513%,99.707% 82.784%,99.628% 83.048%,99.499% 83.306%,99.322% 83.554%,99.099% 83.791%,98.831% 84.015%,98.52% 84.224%,98.169% 84.418%,97.78% 84.593%,97.353% 84.748%,52.384% 99.373%,52.384% 99.373%,51.876% 99.518%,51.346% 99.631%,50.801% 99.711%,50.244% 99.758%,49.683% 99.774%,49.122% 99.757%,48.566% 99.707%,48.022% 99.626%,47.493% 99.511%,46.987% 99.365%,2.622% 84.75%,2.622% 84.75%,2.2% 84.595%,1.814% 84.42%,1.467% 84.227%,1.159% 84.018%,0.894% 83.794%,0.673% 83.558%,0.498% 83.312%,0.371% 83.056%,0.293% 82.793%,0.267% 82.524%,0.267% 2.774%,0.267% 2.774%,0.333% 2.346%,0.525% 1.941%,0.832% 1.563%,1.244% 1.218%,1.751% 0.911%,2.341% 0.647%,3.005% 0.433%,3.732% 0.273%,4.511% 0.173%,5.333% 0.139%,94.667% 0.139%,94.667% 0.139%,95.488% 0.173%,96.268% 0.273%,96.995% 0.433%,97.659% 0.647%,98.249% 0.911%,98.756% 1.218%,99.168% 1.563%,99.475% 1.941%,99.667% 2.346%,99.733% 2.774% );
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        clip-path: polygon(0.162% 0.16%, 80.876% 0.16%, 80.876% 0.16%, 81.378% 0.192%, 81.863% 0.285%, 82.327% 0.437%, 82.765% 0.643%, 83.173% 0.9%, 83.545% 1.204%, 83.878% 1.554%, 84.165% 1.944%, 84.403% 2.372%, 84.587% 2.833%, 99.609% 49.14%, 99.609% 49.14%, 99.676% 49.371%, 99.728% 49.606%, 99.765% 49.843%, 99.787% 50.081%, 99.794% 50.32%, 99.786% 50.559%, 99.763% 50.797%, 99.725% 51.033%, 99.672% 51.268%, 99.604% 51.499%, 84.594% 97.18%, 84.594% 97.18%, 84.409% 97.64%, 84.17% 98.066%, 83.883% 98.454%, 83.551% 98.801%, 83.179% 99.105%, 82.772% 99.36%, 82.335% 99.565%, 81.872% 99.715%, 81.388% 99.808%, 80.888% 99.84%, 0.162% 99.84%, 0.162% 0.16%);
        z-index: -1;

        @include mobile {
          clip-path: polygon( 99.733% 2.774%,99.733% 82.513%,99.733% 82.513%,99.707% 82.784%,99.628% 83.048%,99.499% 83.306%,99.322% 83.554%,99.099% 83.791%,98.831% 84.015%,98.52% 84.224%,98.169% 84.418%,97.78% 84.593%,97.353% 84.748%,52.384% 99.373%,52.384% 99.373%,51.876% 99.518%,51.346% 99.631%,50.801% 99.711%,50.244% 99.758%,49.683% 99.774%,49.122% 99.757%,48.566% 99.707%,48.022% 99.626%,47.493% 99.511%,46.987% 99.365%,2.622% 84.75%,2.622% 84.75%,2.2% 84.595%,1.814% 84.42%,1.467% 84.227%,1.159% 84.018%,0.894% 83.794%,0.673% 83.558%,0.498% 83.312%,0.371% 83.056%,0.293% 82.793%,0.267% 82.524%,0.267% 2.774%,0.267% 2.774%,0.333% 2.346%,0.525% 1.941%,0.832% 1.563%,1.244% 1.218%,1.751% 0.911%,2.341% 0.647%,3.005% 0.433%,3.732% 0.273%,4.511% 0.173%,5.333% 0.139%,94.667% 0.139%,94.667% 0.139%,95.488% 0.173%,96.268% 0.273%,96.995% 0.433%,97.659% 0.647%,98.249% 0.911%,98.756% 1.218%,99.168% 1.563%,99.475% 1.941%,99.667% 2.346%,99.733% 2.774% );
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: $goldenYellow;
        clip-path: polygon(0.162% 0.16%, 80.876% 0.16%, 80.876% 0.16%, 81.378% 0.192%, 81.863% 0.285%, 82.327% 0.437%, 82.765% 0.643%, 83.173% 0.9%, 83.545% 1.204%, 83.878% 1.554%, 84.165% 1.944%, 84.403% 2.372%, 84.587% 2.833%, 99.609% 49.14%, 99.609% 49.14%, 99.676% 49.371%, 99.728% 49.606%, 99.765% 49.843%, 99.787% 50.081%, 99.794% 50.32%, 99.786% 50.559%, 99.763% 50.797%, 99.725% 51.033%, 99.672% 51.268%, 99.604% 51.499%, 84.594% 97.18%, 84.594% 97.18%, 84.409% 97.64%, 84.17% 98.066%, 83.883% 98.454%, 83.551% 98.801%, 83.179% 99.105%, 82.772% 99.36%, 82.335% 99.565%, 81.872% 99.715%, 81.388% 99.808%, 80.888% 99.84%, 0.162% 99.84%, 0.162% 0.16%);
        z-index: -1;
        background-image: url('./assets/images/pattern-requirements.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: right bottom;

        @include mobile {
          background-size: 100%;
          background-position: center top;
          background-image: url('./assets/images/pattern-requirements-mobile.svg');
          clip-path: polygon( 99.733% 2.774%,99.733% 82.513%,99.733% 82.513%,99.707% 82.784%,99.628% 83.048%,99.499% 83.306%,99.322% 83.554%,99.099% 83.791%,98.831% 84.015%,98.52% 84.224%,98.169% 84.418%,97.78% 84.593%,97.353% 84.748%,52.384% 99.373%,52.384% 99.373%,51.876% 99.518%,51.346% 99.631%,50.801% 99.711%,50.244% 99.758%,49.683% 99.774%,49.122% 99.757%,48.566% 99.707%,48.022% 99.626%,47.493% 99.511%,46.987% 99.365%,2.622% 84.75%,2.622% 84.75%,2.2% 84.595%,1.814% 84.42%,1.467% 84.227%,1.159% 84.018%,0.894% 83.794%,0.673% 83.558%,0.498% 83.312%,0.371% 83.056%,0.293% 82.793%,0.267% 82.524%,0.267% 2.774%,0.267% 2.774%,0.333% 2.346%,0.525% 1.941%,0.832% 1.563%,1.244% 1.218%,1.751% 0.911%,2.341% 0.647%,3.005% 0.433%,3.732% 0.273%,4.511% 0.173%,5.333% 0.139%,94.667% 0.139%,94.667% 0.139%,95.488% 0.173%,96.268% 0.273%,96.995% 0.433%,97.659% 0.647%,98.249% 0.911%,98.756% 1.218%,99.168% 1.563%,99.475% 1.941%,99.667% 2.346%,99.733% 2.774% );
        }
      }
    }
  }

  &__quote {
    padding: 21px 35px;
    background-color: $lightBeige;
    border-radius: 25px;
    border: 1px solid $deepBlack;
    margin-bottom: 27px;

    @include mobile {
      padding: 18px 20px;
    }
  }

  &__right {
    max-width: 550px;
    padding: 37px 90px 42px 54px;
    background-image: url('./assets/images/pattern-offers.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top;

    @include mobile {
      background-size: 100%;
      background-position: center top;
      background-image: url('./assets/images/pattern-requirements-orange-mobile.svg');
      max-width: 100%;
      margin: -100px auto 0;
      padding: 118px 40px 55px 40px;
    }
  }
}
