<div class="copyright">
  <div class="copyright__wrapper content">
    <div class="copyright__item">©Все права защищены 2024</div>
    <div class="copyright__item">
      <div class="copyright__item-link" onclick="openModal('#popup-personal')">Обработка персональных данных</div>
    </div>
    <div class="copyright__item">
      <div class="copyright__item-link" onclick="openModal('#popup-policy')">Политика конфиденциальности</div>
    </div>
    <div class="copyright__item">
      Создание сайта:
      <img src="./assets/images/studio-logo.svg" alt="inesi">
    </div>
  </div>
</div>
