$deepBlack: #141414;
$darkGray: #4D4D4D;
$lightBeige: #F3EAD4;
$paleGreen: #A6CC9E;
$coralOrange: #FC9B59;
$goldenYellow: #FFD24A;
$skyBlue: #8BB4C8;
$forestGreen: #6FA467;
$pumpkinOrange: #FB7C26;
$saffronYellow: #FFB700;
$steelBlue: #4C8BAA;
