$black: #000000;
$deepBlack: #141414;
$darkGray: #4D4D4D;
$lightBeige: #F3EAD4;
$paleGreen: #A6CC9E;
$coralOrange: #FC9B59;
$goldenYellow: #FFD24A;
$skyBlue: #8BB4C8;
$forestGreen: #6FA467;
$pumpkinOrange: #FB7C26;
$saffronYellow: #FFB700;
$steelBlue: #4C8BAA;

$clipPathFigure: 'data:image/svg+xml,%3Csvg%20fill%3D%22%23FFD24A%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%20616%20624%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%231A1A1A%22%20stroke-width%3D%222%22%20d%3D%22M1%2025C1%2011.745%2011.745%201%2025%201h473.198a23.999%2023.999%200%200122.856%2016.68l92.536%20288.951a23.999%2023.999%200%2001-.028%2014.725l-92.464%20285.049A24%2024%200%2001498.269%20623H25c-13.255%200-24-10.745-24-24V25z%22%2F%3E%3C%2Fsvg%3E'
