$animationTime: 500ms;

[data-animate-bottom] {
  transition: $animationTime;
  opacity: 0;
  transform: translateY(50px);

  &.animated {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animate-left] {
  transition: $animationTime;
  opacity: 0;
  transform: translateX(-100px);

  &.animated {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-animate-right] {
  transition: $animationTime;
  opacity: 0;
  transform: translateX(100px);

  &.animated {
    opacity: 1;
    transform: translateX(0);
  }
}
