@mixin mobile() {
  @media (max-width: 960px) {
    @content;
  }
}

body {
  @include fontUbuntu14;

  background-color: $lightBeige;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }

  @include mobile {
    @include fontUbuntu13;
  }
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-size: 1em;
}

a {
  color: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mobile {
    padding: 0 15px;
    max-width: 375px;
  }
}

section {
  display: flex;
  flex-direction: column;
}

.section-reviews {
  padding: 85px 0 55px;
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
  margin-bottom: -25px;
  gap: 55px 0;
}

.bg-skyblue {
  background-color: $skyBlue;
}


#__bs_notify__ {
  display: none !important;
}
