@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

html {
  overflow-x: hidden;

  &.locked {
    overflow: hidden;
  }
}

body {
  @include fontUbuntu14;

  background-color: $lightBeige;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $paleGreen;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-track {
    background-color: $lightBeige;
    border-radius: 30px;
  }

  * {
    box-sizing: border-box;
  }

  &.locked {
    overflow: hidden;
    padding-right: 10px;

    @include mobile {
      padding-right: 0;
    }
  }

  @include mobile {
    @include fontUbuntu13;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-size: 1em;
}

a {
  color: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mobile {
    padding: 0 15px;
    max-width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
}

.section-reviews {
  padding: 85px 0 55px;
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
  margin-bottom: -25px;
  gap: 55px 0;
  background-image: url('./assets/images/pattern-reviews.svg'), url('./assets/images/pattern-reviews-quote_left.svg'), url('./assets/images/pattern-reviews-quote_right.svg');
  background-position: top right, bottom left, bottom right;
  background-repeat: no-repeat;

  @include mobile {
    padding: 50px 0 120px;
    background-image: url('./assets/images/pattern-reviews-right-mobile.png'), url('./assets/images/pattern-reviews-bottom-mobile.png');
    background-position: 100% 12%, 0 91%;
  }
}

.bg-skyblue {
  background-color: $skyBlue;
}


#__bs_notify__ {
  display: none !important;
}
