.banner {
  background-color: $skyBlue;
  border-radius: 0 0 30px 30px;

  &__container {
    display: flex;
    padding: 133px 69px;
  }

  &__info {
    width: 564px;
  }

  &__title {
    @include fontTTNeoris40;
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 42px;
  }

  &__picture {
    margin-left: 67px;
    position: relative;
  }

  &__image {
    position: absolute;

    &:nth-child(1) {
      left: 0;
      z-index: 3;
    }

    &:nth-child(2) {
      left: 175px;
      top: 25px;
      z-index: 2;
    }

    &:nth-child(3) {
      left: 276px;
      top: 13px;
      z-index: 1;
    }
  }
}
