.banner {
  background-color: $skyBlue;
  border-radius: 30px;
  padding-top: 133px;
  padding-bottom: 80px;
  background-image: url('./assets/images/pattern-banner_left.svg'), url('./assets/images/pattern-banner_center.svg'), url('./assets/images/pattern-banner_right.svg');
  background-position: left top, calc(50% + 100px) bottom, right top;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @include mobile {
    padding-top: 170px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__info {
    max-width: 564px;
    flex: 1 0 400px;

    @include mobile {
      margin-top: 85px;
      flex: 1 0;
    }
  }

  &__title {
    @include fontTTNeoris40;

    margin-bottom: 10px;

    @include mobile {
      @include fontTTNeoris24;

      margin-bottom: 17px;
    }
  }

  &__description {
    margin-bottom: 40px;
  }

  &__button {
    @include mobile {
      display: block;
      margin: 0 auto;
    }
  }

  &__picture {
    display: flex;
    margin-left: 10px;
    position: relative;
  }

  &__image {
    position: relative;

    &:nth-child(1) {
      left: 0;
      margin-top: -65px;
      width: 230px;
      object-fit: contain;
      z-index: 3;
      bottom: -30px;

      @include mobile {
        width: 150px;
      }
    }

    &:nth-child(2) {
      margin-left: -60px;
      top: 25px;
      z-index: 2;

      @include mobile {
        width: 115px;
        margin-left: -40px;
      }
    }

    &:nth-child(3) {
      margin-left: -130px;
      top: 13px;
      z-index: 1;

      @include mobile {
        width: 160px;
        margin-left: -50px;
        top: 20px;
      }
    }
  }
}
