.banner {
  background-color: $skyBlue;
  border-radius: 30px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 133px;
    padding-bottom: 80px;
  }

  &__info {
    max-width: 564px;
    width: 100%;
  }

  &__title {
    @include fontTTNeoris40;

    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 42px;
  }

  &__picture {
    display: flex;
    margin-left: 10px;
    position: relative;
  }

  &__image {
    position: relative;

    &:nth-child(1) {
      left: 0;
      z-index: 3;
    }

    &:nth-child(2) {
      margin-left: -50px;
      top: 25px;
      z-index: 2;
    }

    &:nth-child(3) {
      margin-left: -130px;
      top: 13px;
      z-index: 1;
    }
  }
}
