<div class="banner">
  <div class="banner__container">
    <h1 class="banner__title">
      Hola! Bienvenidos, Amigos!
    </h1>
    <p class="banner__descriptio">
      Рады видеть тебя здесь, среди друзей и единомышленников, на странице лицея турнирного покера, созданного нами, профессиональными игроками с богатым опытом!
      Мы — настоящие друзья, которые живут в Мексике, нас объединяет страсть и любовь к покеру, и именно отсюда возникло наше дружественное название – AmigosBacking.
    </p>
  </div>

</div>
